.spinning-gears-animation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.spinning-gears-svg {
  width: 100%;
  height: auto;
  max-width: 900px;
  /* Increased size */
  overflow: visible;
}